body {
    padding: 0;
    margin: 0;
}
.controle {
    position: fixed;
    left: 20px;
    top: 50px;
    cursor: pointer;
    z-index: 1;
    filter: grayscale(1);
}
.controle > img {
    width: 80px;
}
.music {
    position: fixed;
    z-index: 1;
    left: 20px;
    top: 20px;
}
.music a {
    border-radius: 20px;
    padding: 10px;
    background: rgb(78, 76, 177);
    color: aliceblue;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}
.music_play {
    background-color:rgb(112, 110, 210) !important;
}
.cenario {
    width: 100%;
    height: 100%;
    background: #696969;
    /* background-image: url(./stage.jpg); */
    background-position: center;
    background-size: cover;
    position: fixed;
    bottom: 0;
}
.plataforma {
    height: 30px;
    width: 200px;
    background-color: brown;
    position: fixed;
    border: 1px solid;
}
.plat1 {
    bottom: 350px;
    left: 280px;
}
.plat2 {
    left: 40px;
    top: 420px;
}
.plat3 {
    left: 279px;
    top: 269px;
}
.personagem {
    position: absolute;
    /* margin-left: 500px; */
    left: 500px;
    top: 469px;
    border: 1px solid red;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 122px;
}
.personagem > .content {
    background-image: url('./sprite_megaman2.png');
    background-size: 105em;
    /* background-color: orange; */
    position: absolute;
    bottom: 0;
}
.retorno {
    transform: rotateY(181deg);
}
.parado {
    width: 93px;
    height: 108px;
    background-position-x: -316px;
    background-position-y: -16px;
}
.parado2 {
    width: 92px;
    height: 108px;
    background-position-x: -307px;
    background-position-y: -142px;
}
.parado3 {
    width: 93px;
    height: 105px;
    background-position-x: -295px;
    background-position-y: -268px;
}
.parado4 {
    width: 92px;
    height: 108px;
    background-position-x: -284px;
    background-position-y: -397px;
}
.parado5 {
    width: 93px;
    height: 108px;
    background-position-x: -273px;
    background-position-y: -523px;
}
.correr {
    width: 69px;
    height: 99px;
    background-position-x: -464px;
    background-position-y: -17px;
}
.correr2 {
    width: 118px;
    height: 94px;
    background-position-x: -428px;
    background-position-y: -140px;
}
.correr3 {
    width: 97px;
    height: 94px;
    background-position-x: -440px;
    background-position-y: -255px;
}
.correr4 {
    width: 67px;
    height: 93px;
    background-position-x: -458px;
    background-position-y: -373px;
}
.correr5 {
    width: 73px;
    height: 99px;
    background-position-x: -441px;
    background-position-y: -493px;
}
.saltar {
    width: 69px;
    height: 108px;
    background-position-x: -614px;
    background-position-y: -11px;
}
.saltar2 {
    width: 81px;
    height: 130px;
    background-position-x: -591px;
    background-position-y: -132px;
}
.saltar3 {
    width: 77px;
    height: 135px;
    background-position-x: -592px;
    background-position-y: -277px;
}
.saltar4 {
    width: 81px;
    height: 130px;
    background-position-x: -580px;
    background-position-y: -430px;
}